name: Publish Docker image

on:
  push:
    branches:
      - main

jobs:

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: stephanzlatarev
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=stephanzlatarev/starcraft:buildcache
          cache-to: type=registry,ref=stephanzlatarev/starcraft:buildcache,mode=max
          platforms: linux/amd64
          push: true
          tags: stephanzlatarev/starcraft:latest
